body{
    font: bolder;
    background: #2391CE no-repeat;
    background: -moz-linear-gradient(top, #2391CE 0%, #1C6EA4 50%, #48C525 100%) no-repeat;
    background: -webkit-linear-gradient(top, #2391CE 0%, #1C6EA4 50%, #48C525 100%) no-repeat;
    background: linear-gradient(to bottom, #2391CE 0%, #1C6EA4 50%, #48C525 100%) no-repeat;
    height: 100vh;
}
h1{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace; 
}
a{
    text-decoration: none;
    pointer-events: stroke;
}
p{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    stroke: limegreen;
    stroke-width: 15px;
    text-transform: uppercase;
    text-align: center;
}
h2{
    font-size: 2.9rem;
    color: rgba(255, 157, 126, 0.9);
    text-shadow: 2rem 2rem 2rem limegreen !important;
}
